{% load admin_static %}{% load url from future %}{% load i18n grp_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/statics/images/logo.png">
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link href="{% static "grappelli/jquery/ui/css/custom-theme/jquery-ui-1.8.18.custom.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "grappelli/stylesheets/screen.css" %}" rel="stylesheet" type="text/css" media="screen" />
        {% if LANGUAGE_BIDI %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output-rtl.css" %}" rel="stylesheet" type="text/css" media="screen" />
            <link href="{% block stylesheet_rtl %}{% static "grappelli/stylesheets/rtl.css" %}{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
        {% else %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output.css" %}" rel="stylesheet" type="text/css" media="screen" />
        {% endif %}
    {% endblock %}
    <!-- EXTRASTYLES -->
    {% block extrastyle %}{% endblock %}
    <!-- JAVASCRIPTS -->
    {% block javascripts %}
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "grappelli/" %}{% endfilter %}";</script>
        <script type="text/javascript" charset="utf-8">
            // GLOBALS
            var grappelli = {},
                ADMIN_URL = "{% url 'admin:index' %}",
                MODEL_URL_ARRAY = {% get_content_types %},
                DATE_FORMAT = "{% get_date_format %}",
                TIME_FORMAT = "{% get_time_format %}",
                DATETIME_FORMAT = "{% get_datetime_format %}";
        </script>
        <!-- jQuery, jQuery-UI -->
        <script src="{% static "grappelli/jquery/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
        <script src="{% static "grappelli/jquery/ui/js/jquery-ui-1.8.18.custom.min.js" %}" type="text/javascript"></script>
        {% if debug %}
            <!-- Grappelli Main JS -->
            <script src="{% static "grappelli/js/grappelli.js" %}" type="text/javascript"></script>
            <!-- Grappelli jQuery Plugins, Widgets -->
            <script src="{% static "grappelli/js/jquery.grp_collapsible.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_collapsible_group.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_timepicker.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_inline.js" %}" type="text/javascript"></script>
        {% else %}
            <!-- Grappelli Minified -->
            <script src="{% static "grappelli/js/grappelli.min.js" %}" type="text/javascript"></script>
        {% endif %}
    {% endblock %}
    <!-- EXTRAHEAD -->
    {% block extrahead %}{% endblock %}
</head>
<body class="{% if is_popup %}grp-popup {% endif %}{% block bodyclass %}{% endblock %}{% if LANGUAGE_BIDI %} rtl{% endif %}">
    <div id="grp-container">

        <!-- HEADER -->
        <header id="grp-header" class="{% block header-class %}{% endblock %}">
            {% if not is_popup %}

                <!-- NAVIGATION -->
                {% include "admin/includes_grappelli/header.html" %}
                
                <!-- CONTEXT NAVIGATION -->
                <div id="grp-context-navigation">
                    <nav id="grp-breadcrumbs" class="{% block breadcrumbs-class %}{% endblock %}">
                        <header style="display:none"><h1>Breadcrumbs</h1></header>
                        {% block breadcrumbs %}
                            <ul>
                                <li><a href="/">{% trans 'Home' %}</a></li>
                                {% if title %}
                                    <li> &rsaquo; {{ title }}</li>
                                {% endif %}
                            </ul>
                        {% endblock %}
                    </nav>
                    <nav id="grp-page-tools">
                        <header style="display:none"><h1>Page Tools</h1></header>
                        {% block page-tools %}{% endblock %}
                    </nav>
                </div>
            {% endif %}
        </header>

        <!-- CONTENT -->
        <article id="grp-content" class="{% block content-class %}{% endblock %}">
            
            <!-- MESSAGES -->
            {% if messages %}
                <ul class="grp-messagelist">
                    {% for message in messages %}
                        <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- CONTENT TITLE -->
            <header id="grp-content-title">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block object-tools %}{% endblock %}
            </header>

            <!-- CONTENT-CONTAINER -->
            <div id="grp-content-container">
                {% block content %}
                    {{ content }}
                    {% block filters %}{% endblock %}
                {% endblock %}
            </div>

        </article>
        
        <!-- FOOTER -->
        {% block footer %}{% endblock %}
    </div>
</body>
</html>