{% extends "admin/base_site.html" %}

{% block title %}e-kk.pl - Zaloguj się{% endblock %}

<!-- LOADING -->
{% load url from future %}
{% load i18n grp_tags %}

<!-- BODYCLASS -->
{% block bodyclass %}grp-login{% endblock %}

<!-- EXTRAHEAD-->
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(window).load(function(){ $('#id_username').focus(); });
        })(grp.jQuery);
    </script>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c g-d-10 g-centered">
        <form action="{{ app_path }}" method="post">{% csrf_token %}
            <fieldset class="grp-module grp-module-login">
                <h1 style="padding:3px 0 0;background: url('/statics/images/logo.png') no-repeat;background-position: 3px 3px">
                    <span class="grp-admin-title" style="padding-left:40px">e-kk.pl</span>
                    <span class="grp-current-page">Zaloguj się</span>
                </h1>
                <div class="grp-module">
                    {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                        <div class="grp-row grp-error-row">
                            <p class="errornote">{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                        </div>
                    {% endif %}
                    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
                        <div class="grp-row grp-error-row">
                            {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
                                <p class="errornote">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if error_message %}
                        <div class="grp-row grp-error-row">
                            <p class="errornote">{{ error_message }}</p>
                        </div>
                    {% endif %}

                    <div class="grp-row{% if form.username.errors %} grp-errors{% endif %}">
                        <label for="id_username" class="required">{{ form.username.label }}:</label>
                        <input type="text" name="username" id="id_username" />
                        {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
                    </div>
                    <div class="grp-row grp-connected{% if form.password.errors %} grp-errors{% endif %}">
                        <label for="id_password" class="required">{% trans 'Password:' %}</label>
                        <input type="password" name="password" id="id_password" />
                        <input type="hidden" name="this_is_the_login_form" value="1" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
                        {% url 'admin_password_reset' as password_reset_url %}
                    </div>
                    {% if password_reset_url %}
                        <div class="grp-row">
                            <p class="grp-description" style="font-size: 11px; line-height: 13px; margin-top: 2px;"><a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a></p>
                        </div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="grp-module grp-submit-row">
                <ul>
                    <li><input type="submit" class="grp-button grp-default" value="Zaloguj się" /></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}