html.loading{background:#000;}
html.loading *{visibility:hidden;}
html.jbg a{outline:none;}
html.jbg,body.jbg,.jbgallery,.jbgallery table,.jbgallery td{background:#000;width:100%; margin:0;padding:0px;}
.jbgallery div{position:fixed;width:200%;top:0%;left:-50%;background:#000; }
html.ie6 .jbgallery div{position:absolute;}
.jbgallery td{vertical-align:middle;text-align:center}
html, body, #bg_first, #bg_first table, #bg_first td, #cont, #bg_all, #bg_all table, #bg_all td {
    width:100%;
}
body{
    position:relative;
}


