@font-face{font-family:'Clicker Script';font-style:normal;font-weight:400;src:local('Clicker Script'), local('ClickerScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/clickerscript/v1/Zupmk8XwADjufGxWB9KThEtCETOCmz2wCdel46UOhAM.woff) format('woff');}
@font-face{font-family:Titillium Web;font-style:normal;font-weight:400;src:local("Titillium Web"),local("TitilliumWeb-Regular"),url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/7XUFZ5tgS-tD6QamInJTcYp67VRGBZnLJtqE-R4vad8.woff) format("woff");}
*{margin:0;padding:0;}
body{font-family:Titillium Web,sans-serif;}
html body{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-color:black;background-repeat:no-repeat;background-position:top center;background-attachment:fixed;z-index:1;}
html body div{z-index:-1;}
html body section{width:980px;margin:0 auto;}
html body header{width:100%;height:50px;background-color:rgba(0,0,0,0.7);min-width:980px;position:fixed;top:0;left:0;}
html body header p{font-family:'Clicker Script', cursive;font-size:30px;color:white;padding:5px 5px 5px 100px;display:block;}
html body header a{font-weight:bold;}
html body header a:first-child{text-decoration:none;color:white;float:right;display:block;margin:0.5% 10% 0 0;padding:5px;}
html body header a:nth-child(2), html body header a:nth-child(3){text-decoration:none;color:white;float:right;display:block;margin:0.5% 1% 0 0;padding:5px;}
html body header a:hover{border-radius:5px;color:#000;background-color:#FFF;padding:5px;}
html body section article label{display:block;margin-top:200px;font-family:'Clicker Script', cursive;text-align:center;font-size:50px;color:white;height:70px;padding-top:0 !important;padding-bottom:0 !important;text-shadow:0 0 5px rgba(0,0,0,0.7);background-color:rgba(0,0,0,0.7);-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-moz-transition:background-color 0.5s linear;-o-transition:background-color 0.5s linear;-webkit-transition:background-color 0.5s linear;}
html body section article input{height:33px;text-align:center;font-size:15px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:#ffffff;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:0 0px 40px rgba(0,0,0,0.9);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;width:978px;}
html body section section article#panel section#content img{margin:20px 0 0 80px;}
html body section article#przepis div#potrawa{width:250px;height:200px;border:1px solid gray;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;display:block;float:left;margin-top:10px;}
html body section article#przepis section#product{float:left;margin-left:20px;border:none;width:200px;}
html body section article#przepis section#rate{float:right;border:1px solid black;width:180px;height:100px;border:none;}
html body section article#przepis section#rate button{width:100%;font-family:'Clicker Script', cursive;font-size:30px;padding:0;height:42px;background:none;border:1px solid gray;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
html body section article#przepis section#rate button:hover{background-color:rgba(0,0,0,0.1);-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
html body section article#przepis section#rate p{font-family:'Clicker Script', cursive;font-size:20px;}
html body section article#przepis section#rate p span{font-weight:bold;font-size:25px;}
html body section article#przepis section#inne p{width:100%;text-align:center;margin-bottom:10px;}
html body section article#przepis section#inne p a:hover{text-decoration:underline;}
html body section article#przepis section#inne{width:180px;float:right;margin-top:33px;border:none;}
html body section article#przepis section#klucz{float:left;width:100%;border:none;margin-top:20px;}
html body section article#przepis h2,html body section article#przepis h3{font-size:40px;font-family:'Clicker Script', cursive;margin-bottom:20px;}
html body section article#przepis h3{font-size:25px;margin-bottom:10px;border-bottom:1px dashed black;width:100%;}
html body section article#przepis section{display:block;float:right;width:270px;min-height:200px;margin:0;padding:0;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;border:1px solid black;}
html body section article#przepis section#opis{display:block;float:left;width:470px;min-height:200px;margin:20px 20px 20px 1px;padding:0;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;border:1px solid rgba(255,255,255,0);text-align:justify;}
html body section article#przepis section ul{width:100%;}
html body section article#przepis section ul li{font-size:15px;}
html body section article#panel section#menu article#top{width:300px;margin-bottom:15px;}
html body section article#panel section#menu article#top a{margin:0;}
html body section article#panel section#menu article#top ul li{font-size:12px;margin-bottom:10px;}
html body section article#panel section#menu article#top ul{list-style-type:none;}
html body section article#panel section#content fieldset input{box-shadow:none;width:200px;}
html body section article#panel section#content fieldset button#add2{padding:0;width:223px;margin:0;}
html body section article#panel section#content fieldset button#dodaj{width:225px;}
html body section article#panel section#content fieldset div{width:250px;height:200px;border:1px solid silver;}
html body section article#panel section#content fieldset{border:0px solid black;}
html body section article#panel section#content fieldset input{box-shadow:none;width:350px;}
html body section article#panel section#content fieldset input#pswd{width:200px;}
html body section article#panel section#content fieldset button#add{display:inline;width:30px;height:25px;margin:0;border:none;background-color:none;background:none;background-image:url("/statics/images/plus.png");background-repeat:no-repeat;}
html body section article#panel section#content fieldset textarea{resize:none;height:200px;width:370px;min-height:200px;min-width:370px;max-height:200px;max-width:370px;background-color:white;border:1px solid silver;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
html body section article#panel section#content fieldset p{border:1px dotted silver;padding:10px 10px 0 10px;width:350px;background-color:rgba(0,0,0,0.02);display:block;margin-bottom:10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
html body section article#panel section#content table tr td:first-child:hover{text-decoration:underline;}
html body section article#panel section#content table tr td:first-child{width:300px;display:block;padding:5px;}
html body section article#panel section#content table tr td:nth-child(3) button:first-child{border:none;background-color:none;background:none;background-image:url("/statics/images/trash-icon.png");width:25px;height:24px;background-repeat:none;display:inline;}
html body section article#przepis h2 button:first-child ,html body section article#panel section#content table tr td:nth-child(3) button:nth-child(2),html body section article#panel section#content h2 button{border:none;background-color:none;background:none;background-image:url("/statics/images/print-icon.png");width:25px;height:24px;background-position:bottom;background-repeat:none;display:inline;}
html body section article#przepis h2 button:nth-child(2){width:27px;background-repeat:no-repeat;height:24px;border:none;background:none;background-image:url("/statics/images/book-icon.png");}
html body section article#panel section#content table tr td:nth-child(3){padding-left:10px;}
html body section article#panel section#content table tr td:nth-child(2){font-family:'Clicker Script', cursive;font-weight:bold;font-size:20px;}
html body section article#panel section#content fieldset p input{width:30px;display:inline-block;margin-bottom:10px;height:20px;margin-left:25px;}
html body section article#panel section#content fieldset select{margin:10px 0;padding:5px 3pxs;width:200px;}
html body section article#panel section#content fieldset textarea:focus{border:1px solid #729fcf;box-shadow:none;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
html body section article#panel section#content{float:right;display:block;border:none;min-height:100px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:655px;margin:30px auto 0 auto;padding:0}
html body section article#panel section#menu{float:left;margin:20px 0 0 0;width:165px;min-height:250px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:none;border-right:1px solid silver;background-image:none;padding:10px 30px 10px 30px;}
html body section article#panel section#menu a{font-size:13px;margin-bottom:10px;}
html body section article#panel section#menu a:hover{text-decoration:underline;color:#204a87;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
html body section article#panel section#menu h2, html body section article#panel section#content h2{border-bottom:1px dashed silver;font-family:'Clicker Script', cursive;font-size:30px;background-color:none;background:none;margin:0 0 10px -30px;}
html body section article#przepis,html body section article#panel{z-index:-1;width:900px;background-image:url("/statics/images/bg2.png");position:absolute;border:1px solid gray;padding:0 20px 20px 20px;}
html body section article#przepis section#pagin{display:block;width:105.4%;float:left;height:48px;min-height:0;margin:0 0 10px -20px;padding:0;font-family:'Clicker Script', cursive;border:none;border-bottom:1px dotted silver;}
html body section article#przepis section#pagin a:hover{background-color:rgba(215, 192, 44, 0.5);cursor:pointer;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
html body section article#przepis section#pagin a{display:inline-block;border:1px dotted silver;background-color:rgba(215, 192, 44, 0.3);margin:0 0 0 -5px;height:35px;padding-top:5px;text-align:center;border-bottom:none;border-left:none;width:50px;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
html body section article#przepis section#pagin span#dot{display:inline-block;border:1px dotted silver;background-color:rgba(215, 192, 44, 0.3);margin:0 0 0 -5px;text-align:center;border-bottom:none;border-left:none;width:50px;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;height:35px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding-left:0px;}
html body section article#przepis section#pagin span{display:inline-block;height:43px;padding:5px 0 0 10px;font-size:25px;background-color:rgba(215, 192, 44, 0.3);border:1px dotted silver;-webkit-border-radius:0 10px 0 0;-moz-border-radius:0 10px 0 0;border-radius:0 10px 0 0;border-bottom:none;width:120px;}
html body section section#kontakt{min-height:300px;width:600px;margin-top:60px;}
html body section section#kontakt select{width:200px;padding:5px;}
html body section section#kontakt input{box-shadow:none;}
html body section section#kontakt input:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(82, 168, 236, 0.6);}
html body section section#kontakt textarea{resize:none;border:1px solid silver;width:500px;height:200px;min-width:500px;max-height:200px;min-width:500px;max-height:200px;}
html body section article input:focus,html body section section input:focus,html body section section textarea:focus{border-color:rgba(102, 74, 15, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(148, 136, 46, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(148, 136, 46, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(148, 136, 46, 0.6);}
html body section section button{margin-top:5%;width:200px;padding:5px;display:block;}
html body section section input{margin-bottom:15px;height:25px;width:365px;text-align:left;padding:0 10px;font-size:15px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#ffffff;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:0 0px 40px rgba(0,0,0,0.9);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;}
html body section section a{margin-top:1%;text-decoration:none;display:block;color:rgba(0,0,50,1);font-size:13px;}
html body section section h2{color:#000;font-weight:normal;width:125%;font-size:15px;background-color:gray;border-bottom:1px solid rgba(0,0,0,0.2);display:block;float:left;margin:0;padding:0;margin-bottom:10%;padding-left:5%;}
html body section section#register{margin:12% auto;}
html body section section#register fieldset img{margin-top:15px;}
html body section section#register fieldset input{margin-bottom:15px;}
html body section section#register fieldset input#captcha{width:181px;display:block;}
html body section section#register fieldset div{border:1px solid black;display:block;width:200px;height:70px;}
html body section section#register p:nth-child(2){font-weight:bold;font-size:25px;}
html body section section#register p:nth-child(3){font-weight:bold;margin-top:15px;font-size20px;}
html body section section#register ul{list-style:none;margin:1% 0 0 1%;}
html body section section#register a{font-size:10px;text-decoration:underline;color:blue;margin:5% auto 0 auto;display:block;width:40%;text-align:center;}
html body section section#register input.error{border:1px solid #cc0000;-webkit-box-shadow:inset 0 1px 1px rgba(255, 0, 0, 0.5);-moz-box-shadow:inset 0 1px 1px rgba(255, 0, 0, 0.5);box-shadow:inset 0 1px 1px rgba(255, 0, 0, 0.5);box-shadow:0 0px 40px rgba(255,0,0,0.5);}
html body section section#register input#chk{margin-top:20px;display:inline-block;height:13px;width:20px;}
html body section section#register span a{text-decoration:underline;display:inline;font-size:16px;color:rgb(40, 45, 82);}
html body section section#register span{font-size:16px;display:inline-block;}
html body section section fieldset p{font-weight:bold;color:rgb(90, 21, 21);border:1px dotted gray;margin:10px 0;padding:10px;width:364px;display:block;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:rgba(0,0,0,0.05);}
html body section section fieldset{border:none;margin-left:52px;}
html body section section{overflow:hidden;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid rgba(100,100,115,1);margin:8% auto;width:50%;background-image:url("/statics/images/bg2.png");padding-bottom:5%;}
html body section section label{color:rgba(0,0,50,1);display:block;font-family:'Clicker Script', cursive;font-size:30px;}
html body section section#regulamin h2{width:112%;margin-left:-10%;}
html body section section#regulamin p{background-color:white;margin:10% 0 0 0;padding:5%;text-align:justify;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid gray;}
html body section section#regulamin{width:80%;min-height:550px;margin-top:5%;}
html body section section article#panel section#content form{width:665px;}
html body section section article#panel section#content form fieldset{margin-left:140px;}
html body section section article#panel section#content form fieldset label{margin:0;padding:0;width:50px;background:none;height:45px;}
html body section section article#panel section#content form fieldset textarea{margin-bottom:15px;padding:10px;}
html body section section article#panel section#content form fieldset input, html body section section article#panel section#content form fieldset textarea{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#ffffff;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:0 0px 40px rgba(0,0,0,0.9);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;}
html body section section article#panel section#content form fieldset input:focus, html body section section article#panel section#content form fieldset textarea:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted 9;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(82, 168, 236, 0.6);}
html body section section article#panel section#content form fieldset button{margin-bottom:20px;}
html body section section article#panel section#content p#changes{color:rgb(90, 21, 21);text-align:center;margin-top:40px;font-weight:bold;}
html body section section article#panel section#content form fieldset p{padding:10px}
html body section section article#panel section#content form fieldset select{font-family:Titillium Web,sans-serif;font-size:16px;margin-bottom:15px;}
html body section section#recipe{width:942px;}
html body section section#recipe h2{margin-bottom:15px;font-weight:bold;color:#FFF;text-shadow:-1px 0 #202e20,0 1px #202e20,1px 0 #202e20,0 -1px #202e20;padding-left:30px;}
html body section section#recipe p{padding:0 30px;text-align:justify}
html body section section#recipe img#pdf, html body section section#recipe img#cookbook{float:right;}
html body section section#recipe a{display:inline;}
html body section section#recipe img#cookbook{margin-right:15px;}
html body section section#recipe h3{padding:15px 0 15px 30px;width:210px;}
html body section section#recipe img.photo{border:1px solid #CCC;margin-left:80px;}
html body section section#recipe div#products{float:right;margin-right:155px;}
html body section section#recipe div#products ul{margin-left:75px;}
html body section section#recipe div#score{text-align:center;margin-top:15px;}
html body section section#recipe div#score h3{margin:0 auto;}
html body section section#recipe div#score img.plus{margin-left:30px;}
html body section section#recipe div#score img.minus{margin-left:100px;}
img#read{float:right;margin-left:15px;margin-right:25px;}
