{% extends "admin/base_site.html" %}
{% load i18n grp_tags %}

{% block bodyclass %}grp-login{% endblock %}
{% block title %}InterKK - Poprawnie wylogowany{% endblock %}

{% block content %}
        <div class="g-d-c g-d-10 g-centered">
        <div class="grp-module grp-module-login">
            <h1 style="padding:3px 0 0;background: url('/statics/images/logo.png') no-repeat;background-position: 3px 3px">
                <span class="grp-admin-title" style="padding-left:40px">InterKK</span>
                <span class="grp-current-page">{{ title }}</span>
            </h1>
            <div class="grp-module">
                <div class="grp-row">
                    <p class="grp-description"><a href="../" title="Zaloguj się ponownie"><strong>Zaloguj się ponownie</strong></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}