{% spaceless %}
{% load url from future %}
<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="author" content="e-kk.pl">
        <meta name="robots" content="index, follow">
        <meta name="description" content="{{ config.description }}">
        <meta name="keywords" content="{{ config.keywords }}">
        {% block keywords %}{% endblock %}
    
        <title>{% block title %}{% endblock %} - e-kk.pl</title>
    
        <link rel="shortcut icon" href="{% url 'statics' 'images/favicon.ico' %}">
    
        <link href="{% url 'statics' 'css/style.css' %}" rel="stylesheet" type="text/css"> 
	<link href="{% url 'statics' 'js/autocomplete/jquery.autocomplete.css' %}" rel="stylesheet" type="text/css">

        {% block css %}{% endblock %}
    </head>
    <body>
    	<header>
    	    {% if not request.user.is_authenticated %}
                <a href="/logowanie/">Zaloguj się</a>
                <a href="/rejestracja/">Zarejestruj się</a>
    	    {% else %}
        	    <a href="/wylogowanie/">Wyloguj się</a>
        	    {% if not request.user.is_superuser %}
                    <a href="/panel-uzytkownika/">Panel użytkownika</a>
                {% else %}
                    <a href="/admin/">Panel administratora</a>
                {% endif %}
    	    {% endif %}
    	    <a href="/">Szukaj przepisów</a>
    	    <p>e-kk.pl - (nie)Typowa studencka lodówka</p>
    	</header>
        <section>
            <div class="custom">
                <div class="jbgallery"> 
    	            <ul> 
 	                <li><a href="{% url 'statics' 'images/bg2.jpg' %}"></a></li> 
    	                <li><a href="{% url 'statics' 'images/bg3.jpg' %}"></a></li> 
    	                <li><a href="{% url 'statics' 'images/bg4.jpg' %}"></a></li> 
    	                <li><a href="{% url 'statics' 'images/bg5.jpg' %}"></a></li> 
    	                <li><a href="{% url 'statics' 'images/bg6.jpg' %}"></a></li>
    	                <li><a href="{% url 'statics' 'images/bg7.jpg' %}"></a></li> 
    	                <li><a href="{% url 'statics' 'images/bg8.jpg' %}"></a></li> 
    	                <li><a href="{% url 'statics' 'images/bg9.jpg' %}"></a></li>
    	            </ul> 
                </div>
            </div>
            {% block content %}{% endblock %}
        </section>
        <script type="text/javascript" src="{% url 'statics' 'js/jquery-1.9.1.min.js' %}"></script>
        <script type="text/javascript" src="{% url 'statics' 'js/jbgallery-2.0.js' %}"></script>
        <script type="text/javascript" src="{% url 'statics' 'js/bg-gallery.js' %}"></script>
        <script type="text/javascript">$j(document).ready(function(){$j(".jbgallery").jbgallery({menu:"numbers",style:"zoom",slideshow:true,clickable:false});});</script>
	<script type="text/javascript" src="{% url 'statics' 'js/autocomplete/lib/jquery.js' %}"></script>
	<script type="text/javascript" src="{% url 'statics' 'js/autocomplete/jquery.autocomplete.js' %}"></script>
	<script type="text/javascript">$(document).ready(function(){var cities=$.ajax({url:"/przepisy-ajax/",type:"GET",async:false}).responseText.split(',');$("#id_phrase").focus().autocomplete(cities);});</script>
	{% block bing %}{% endblock %}
    </body>
</html>
{% endspaceless %}
