{% extends "base.html" %}
    {% load url from future %}

    <title>{% block title %}{{ config.title }}{% endblock %} - e-kk.pl</title>

    {% block content %}
        <article>
            <form method="get" action="/szukaj/1/">
                <label for="id_phrase">Głodny? Na co czekasz...!</label>
                <input type="text" placeholder="... wpisz tytuł przepisu lub składniki i wciśnij ENTER" name="fraza" id="id_phrase">
            </form>
        </article>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% url 'statics' 'css/position.css' %}" type="text/css" media="screen,projection">
    {% endblock %}
