{% extends "index.html" %}
    {% load url from future %}

    <title>{% block title %}{% if userdataform %}Moje dane{% elif addRecipe %}Dodaj przepis{% elif cookbook %}Książka kucharska{% else %}Panel użytkownika{% endif %}{% endblock %} - e-kk.pl</title>

    {% block content %}
        <section style="float: left;background:none;border:none">
            <article id="panel">
                <section id="menu">
                    <h2>Panel użytkownika</h2>
                    <a href="/panel-uzytkownika/dodaj-przepis/" title="Dodaj przepis">Dodaj przepis</a>
                    <a href="/panel-uzytkownika/ksiazka-kucharska/" title="Ksiazka kucharska">Ksiażka kucharska</a>
                    <a href="/panel-uzytkownika/moje-dane/" title="Moje dane">Moje dane</a>
                    <a href="/zmien-haslo/" title="Zmień hasło">Zmień hasło</a>
                    <a href="/wylogowanie/" title="Wyloguj się">Wyloguj się</a>
    
                    <article id="top" style="margin-top:20px;">
                        <h2>Top 5 przepisów</h2>
                        <ul>
                    		{% if top_recipes %}
	                            {% for recipe in top_recipes %}
	                                <li><a href="/{{ recipe.2 }}">{{ recipe.0 }}</a></li>
	                            {% endfor %}
                            {% else %}
                            	<p>Baza jest pusta.</p>
                            {% endif %}
                        </ul>
                    </article>

                    <h2>Sponsorzy</h2>
                    {% for partner in partners %}
                    	<a href="{{ partner.href }}" title="{{ partner.name }}"><img src="{% url 'media' partner.logo %}" alt="{{ partner.name }}" title="{{ partner.name }}"></a>
                	{% endfor %}
                </section>
    
                <section id="content">
                    {% if userdataform %}
                        <h2>Moje dane</h2>
                        <form method="post" action="{{ request.path }}" style="float:left">
                            {% csrf_token %}
                            <fieldset>
                                <label for="id_fname">Imię:</label>
                                {{ userdataform.fname }}
                                {% if userdataform.fname.errors %}<p>{% for error in userdataform.fname.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <label for="id_lname">Nazwisko:</label>
                                {{ userdataform.lname }}
                                {% if userdataform.lname.errors %}<p>{% for error in userdataform.lname.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <label for="id_nick">Nick:</label>
                                {{ userdataform.nick }}
                                {% if userdataform.nick.errors %}<p>{% for error in userdataform.nick.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <button>Zapisz zmiany!</button>
                            </fieldset>
                        </form>
                        {% if changes == 0 %}
                            <p id="changes">Nie wprowadziłeś żadnych zmian.</p>
                        {% endif %}
                    {% elif addRecipe %}
                        <h2>Dodaj przepis</h2>
                        <form method="post" action="{{ request.path }}" enctype="multipart/form-data" style="float:left">
                            {% csrf_token %}
                            <fieldset>
                                <label for="id_name">Tytuł:</label>
                                {{ addRecipe.name }}
                                {% if addRecipe.name.errors %}<p>{% for error in addRecipe.name.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <label for="id_category">Kategoria:</label>
                                {{ addRecipe.category }}
                                {% if addRecipe.category.errors %}<p>{% for error in addRecipe.category.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <label for="id_text">Opis:</label>
                                {{ addRecipe.text }}
                                {% if addRecipe.text.errors %}<p>{% for error in addRecipe.text.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <label for="id_products">Produkty:</label>
                                {{ addRecipe.products }}
                                {% if addRecipe.products.errors %}<p>{% for error in addRecipe.products.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <span style="float: left">{{ addRecipe.vegan }}Danie wegetariańskie</span>
                                {% if addRecipe.vegan.errors %}<p>{% for error in addRecipe.vegan.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <span style="float: left">{{ addRecipe.jude }}Danie koszerne</span>
                                {% if addRecipe.jude.errors %}<p>{% for error in addRecipe.jude.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <label for="id_photo" style="margin-top:50px;">Zdjęcie:</label>
                                {{ addRecipe.photo }}
                                {% if addRecipe.photo.errors %}<p>{% for error in addRecipe.photo.errors %}{{ error }}{% endfor %}</p>{% endif %}
                                <button>Dodaj przepis!</button>
                            </fieldset>
                        </form>
                    {% elif cookbook %}
                        <h2>Książka kucharska</h2>
                        {% if book.storage.all %}
                            <h3 style="width: 380px;margin-bottom:10px">W swojej książce masz już {{book.storage.count }} {% if book.storage.count == 0 or book.storage.count > 4 %}przepisów{% elif book.storage.count == 1 %}przepis{% else %}przepisy{% endif %}:</h3>
                            {% for recipe in book.storage.all %}
                                <p><a style="font-size: 15px; text-decoration: underline; display: inline;" href="/{{ recipe.url }}" title="{{ recipe }}">{{ recipe }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p style="text-align: center;margin-top:65px;">Twoja książka kucharska na razie jest pusta.</p>
                            <p style="margin-top: 10px; text-align: center;">Wróć do <a style="font-size: 15px; text-decoration: underline; display: inline;" href="../../../../panel-uzytkownika/">panelu użytkownika</a>.</p>
                        {% endif %}
                    {% else %}
                        <p style="font-weight: bold">Witaj {% if user.nick %}{{ user.nick }}{% else %}{{ user.fname }}{% endif %},</p>
                        <p>Życzymy udanego gotowania z <a href="/" style="font-size:16px;font-size: 15px;text-decoration: underline;display: inline;">e-kk.pl</a>!</p>
                        <img src="{% url 'statics' 'images/cycki.png' %}" alt="" title="" width="500" height="333">
                        <p style="margin-top:10px;text-align: justify"><a href="/" style="font-size:16px;font-size: 15px;text-decoration: underline;display: inline;">e-kk.pl</a> to nowoczesna kuchnia i najlepsze przepisy kulinarne ze zdjęciami. Jeśli Twoja pasja to gotowanie oraz jedzenie to jest to miejsce dla Ciebie!</p>
                        <p style="margin-top:10px;text-align: justify">Znajdziesz u nas przepisy na wszelkie uroczystości rodzinne: urodziny, imieniny, święta, sylwestra i walentynki. A na deser znane i lubiane słodkości jak sernik waniliowy, babka marmurkowa, tiramisu, panna cotta, krem brule, trufla, tort czekoladowy i semifreddo i jeszcze więcej czekolady.</p>
                        <p style="margin-top:10px;text-align: justify; font-weight: bold">Smacznego!</p>
                    {% endif %}
                </section>
            </article>
        </section>
    {% endblock %}
