{% extends "index.html" %}
    {% load url from future %}

    <title>{% block title %}{{ recipe.name }}{% endblock %} - e-kk.pl</title>

    {% block content %}
        <section id="recipe">
            <h2>{{ recipe.name }}</h2>

            <p>Kategoria: <em>{{ recipe.parent }}</em></p>

            {% if request.user.is_authenticated %}
		<audio>
		<source src="" type="audio/mpeg">
		</audio>
                <img id="read" src="{% url 'statics' 'images/sound.png'%}" alt="Czytaj przepis" title="Czytaj przepis">
		<a href="{{ request.path }}&action=pdf" title="Zapisz jako PDF"><img id="pdf" src="{% url 'statics' 'images/pdf-download.png' %}" alt="Zapisz jako PDF" title="Zapisz jako PDF"></a>
                {% if not cookbook %}<a href="{{ request.path }}&action=cookbook" title="Dodaj do książki kucharskiej"><img id="cookbook" src="{% url 'statics' 'images/cookbook-append.png' %}" alt="Dodaj do książki kucharskiej" title="Dodaj do książki kucharskiej"></a>{% endif %}
            {% endif %}

            <h3>Opis realizacji</h3>
            <p>{{ recipe.description|safe }}<br><br></p>

            {% if recipe.photo %}<img class="photo" width="400" height="400" src="{{ recipe.photo }}" alt="{{ recipe.name }}" title="{{ recipe.name }}">{% endif %}

            <div id="products">
                <h3>Składniki</h3>
                <ul>
                    {% for product in recipe.products.all %}
                        <li>{{ product }}</li>
                    {% endfor %}
                </ul>

                <h3>Informacje dodatkowe</h3>
                {% if recipe.vegan %}
                    <p>Danie wegetariańskie.</p><br>
                {% endif %}
        
                {% if recipe.jude %}
                    <p>Danie koszerne.</p><br>
                {% endif %}

                <p>Lubiane na <strong>{{ score }} pkt</strong>!</p>
            </div>

            {% if request.user.is_authenticated and not vote %}
                <div id="score">
                    <h3>Poddaj ocenie</h3>
                    <a href="{{ request.path }}&action=plus" title="Oceń na plus"><img class="plus" src="{% url 'statics' 'images/plus_recipe.png' %}" alt="Oceń na plus" title="Oceń na plus"></a>
                    <a href="{{ request.path }}&action=minus" title="Oceń na minus"><img class="minus" src="{% url 'statics' 'images/minus_recipe.png' %}" alt="Oceń na minus" title="Oceń na minus"></a>
                </div>
            {% endif %}
        </section>
    {% endblock %}

    {% block bing %}<script type="text/javascript">$(document).ready(function(){$("img#read").click(function(){var text='{{ recipe.description|safe }}';$("source").attr("src","http://api.microsofttranslator.com/v2/http.svc/Speak?language=pl&format=audio/mp3&options=MaxQuality&appid=TQ88brR-huaUBILmQk1OM9RHiztO_ueGSo3zREoB_9pI*&text="+text);var audio=$("audio")[0];audio.pause();audio.load();audio.play();});});</script>{% endblock %}
