{% extends "index.html" %}
    {% load url from future %}

    <title>{% block title %}Wyszukiwarka przepisów{% endblock %} - e-kk.pl</title>

    {% block content %}
        <section id="recipe">
            <h2>Wyszukiwarka</h2>
            {% if phrase %}
        		<h3 style="width:900px">Znaleziono {{ count }} {% if count == 1 %}wynik{% elif count > 1 and count < 5 %}wyniki{% else %}wyników{% endif %} wyszukiwania dla frazy <em>{{ phrase }}</em>.</h3>
        		<ul style="list-style-type:none;padding-left:30px">
        			{% for result in results %}
    					<li><a style="font-size:16px" href="/{{ result.url }}" title="{{ result.name }}">{{ result.name }}</a></li>
        			{% endfor %}
        		</ul>

				<div style="text-align: center;margin: 20px 0 -20px 0;">
	                {% if results.has_next %}
	                    <a style="margin-right: 30px;font-size:16px;" href="/szukaj/{{ results.next_page_number }}/?fraza={{ phrase }}" title="Wcześniejsze przepisy">&larr; Wcześniejsze</a>
	                {% endif %}
	
	                {% if results.has_previous %}
	                    <a style="font-size:16px;" href="/szukaj/{{ results.previous_page_number }}/?fraza={{ phrase }}" title="Kolejne przepisy">Kolejne &rarr;</a>
	                {% endif %}
                </div>
    		{% else %}
    			<p style="text-align: center">Brak wyników wyszukiwania.</p>
    			<p style="margin: 10px 0 -25px 0; text-align: center;">Wróć do <a style="font-size: 15px; text-decoration: underline; display: inline;" href="/">strony głównej</a>.</p>
			{% endif %}
        </section>
    {% endblock %}