{% extends "index.html" %}
    {% load url from future %}

    <title>{% block title %}{% if error == "404" %}Nie znaleziono strony lub pliku{% elif error == "500" %}Wystąpił błąd serwera{% endif %}{{ subpage.title }}{% endblock %} - e-kk.pl</title>

    {% block content %}
        {% if subpage.flag == 1 %}
            <form method="post" action="{{ request.path }}">
                {% csrf_token %}
                <section id="register">
                    <h2 style="font-weight: bold; color: #FFF;text-shadow: -1px 0 #202e20,0 1px #202e20,1px 0 #202e20,0 -1px #202e20;">Rejestracja</h2>
                    <fieldset>
                        <label for="id_flname">Imię i nazwisko:</label>
                        {{ registerForm.flname }}
                        {% if registerForm.flname.errors %}<p>{% for error in registerForm.flname.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        <label for="id_email">E-mail:</label>
                        {{ registerForm.email }}
                        {% if registerForm.email.errors %}<p>{% for error in registerForm.email.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        <label for="id_nick">Nick:</label>
                        {{ registerForm.nick }}
                        {% if registerForm.nick.errors %}<p>{% for error in registerForm.nick.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        <img src="/captcha.png/subpage_{{ subpage.id }}/" alt="Przepisz token z obrazka" title="Przepisz token z obrazka" width="120" height="30">
                        {{ registerForm.token }}
                        {% if registerForm.token.errors %}<p>{% for error in registerForm.token.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        {% if token_error %}<p>{{ token_error }}</p>{% endif %}
                        {{ registerForm.regulations }}<span>Oświadczam, że znam i akceptuję <a href="/regulamin/" title="regulamin">regulamin</a> serwisu.</span>
                        {% if registerForm.regulations.errors %}<p>{% for error in registerForm.regulations.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        <button>Zarejestruj się!</button>
                    </fieldset>
                </section>
            </form>
        {% elif subpage.flag = 2 %}
            <form method="post" action="{{ request.path }}">
                {% csrf_token %}
                <section>
                    <h2 style="font-weight: bold; color: #FFF;text-shadow: -1px 0 #202e20,0 1px #202e20,1px 0 #202e20,0 -1px #202e20;">Logowanie</h2>
                    <fieldset>
                        <label for="id_login">Login:</label>
                        {{ loginForm.login }}
                        {% if loginForm.login.errors %}<p>{% for error in loginForm.login.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        <label for="id_password">Hasło:</label>
                        {{ loginForm.password }}
                        {% if loginForm.password.errors %}<p>{% for error in loginForm.password.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        <button>Zaloguj się!</button>
                    </fieldset>
                </section>
            </form>
        {% else %}
            <section>
                {% if error == "404" %}
                    <h2 style="font-weight: bold; color: #FFF;text-shadow: -1px 0 #202e20,0 1px #202e20,1px 0 #202e20,0 -1px #202e20;">Błąd 404</h2>
                    <p style="text-align:center;">Nie znaleziono strony lub pliku.</p>
                    <p style="margin-top: 10px; text-align: center;">Wróć do <a style="font-size: 15px; text-decoration: underline; display: inline;" href="/">strony głównej</a>.</p>
                {% elif error == "500" %}
                    <h2 style="font-weight: bold; color: #FFF;text-shadow: -1px 0 #202e20,0 1px #202e20,1px 0 #202e20,0 -1px #202e20;">Błąd 500</h2>
                    <p style="text-align:center;">Wystąpił błąd serwera</p>
                    <p style="margin-top: 10px; text-align: center;">Wróć do <a style="font-size: 15px; text-decoration: underline; display: inline;" href="/">strony głównej</a>.</p>
                {% else %}
                    <h2 style="font-weight: bold; color: #FFF;text-shadow: -1px 0 #202e20,0 1px #202e20,1px 0 #202e20,0 -1px #202e20;">{{ subpage.title }}</h2>
                    {{ subpage.text|safe }}
                {% endif %}
            </section>
        {% endif %}
    {% endblock %}